<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../public/styles/styles.css">
</head>
<body>

<div class="wrap">

{{{body}}}

</div>

</body>
</html>