<main>
    <header>
        <h2>neue ToDo</h2>
    </header>

    <form method="post" class="noteForm" action="/notes">
        <div>
            <label>Title
                <input type="text" name="title">
            </label>
        </div>
        <div>
            <label>Beschreibung
                <textarea name="description"></textarea>
            </label>
        </div>
        <div>
            <label>Wichtigkeit
                <input type="number" min="0" max="5" name="importance">
            </label>
        </div>
        <div>
            <label>Fertig bis
                <input type="date" name="dueDate">
            </label>
        </div>
        <div>
            <label>Erledigt
                <input type="checkbox" name="finished">
            </label>
        </div>
        <div>
            <input type="submit" value="Speichern">
            <a class="button" href="/">Abbruch</a>
        </div>
    </form>
</main>