* {
    font-size: 16px;
    font-family: Georgia, sans-serif;
}

/* Buttons */

.menu form {
    width: 10em;
}

.button {
    background-color: white;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    border: 1px solid darkgray;
    border-radius: 5px;
    width: 100%;
}

.button:hover {
    background-color: darkgray;
    color: white;
}

.focus {
    background-color: #555555;
    color: white;
}

/* Overview */

/* Navigation Buttons */
.buttonContainer {
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.groupButtons {
    display: flex;
    flex-direction: column;
}

.menu2 {
    flex-direction: column;
}

.menu2 input {
    width: 100%;
    height: 100%;
}

.menu2 form {
    width: 100%;
}


/* Content align */
.noteContainer {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.5em;
    border: 1px darkgray dashed;
}

/* Header Position */
.noteHead {
    display: flex;
    height: fit-content;
    min-height: 1em;
    justify-content: space-between;
}

.dateTitleContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dateTitleContainer > div:first-child {
    width: 7em;
}

/* Body Position */
.noteBody {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: stretch;
}

.noteBody > * {
    margin-right: 1em;
    min-width: 6em;
}

.noteDescription, .noteDescription > textarea {
    height: auto;
    width: 100%;
}

.editNote {
    width: 7em;
    height: 100%;
}


/* New / Edit Note */

.noteForm {
    display: flex;
    flex-direction: column;
}

.propertyContainer{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.label {
    width: 12em;
}

.propertyInput{
    width: 100%;
    padding: 0.2em;
    border: solid 1px darkgray;
    border-radius: 2px;
}

.checkboxContainer{
    margin-top: 1em;
    display: flex;
}
.checkboxflex{
    width: 100%;
}

.submitNote {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
}

a.button{
    width: unset;
}


/* Media Queries */

@media screen and (min-width: 40em) {
    .dateTitleContainer {
        flex-direction: row;
    }

    .submitNote{
        flex-direction: row;
        max-width: 24em;
    }
    a.button{
        width: 100%;
    }
}

@media screen and (min-width: 64em) {

    /* Head Buttons */
    .menu2 {
        flex-direction: row;
    }

    .groupButtons {
        flex-direction: row;
    }

    .menu2 form {
        width: 10em;
    }


    /* Note Body */
    .noteContainer {
        padding: 0;
        border: none;
    }

    .noteBody {
        flex-direction: row;
    }

    .noteHead > div:last-child {
        margin-right: 8em;
    }

    /* Edit Note */
    .noteContent > div{
        flex-direction: row;
    }


}

/* DarkMode */
.dark {
    background-color: black;
    filter: invert(100%);
}