*{
    font-size: 16px;
    font-family: Georgia, sans-serif;
}
/* Buttons */
.menu form{
width: min-content;
    display: inline-block;
}

.menu form:last-child{
   position: absolute;
   right: 10px;
}

.button {
    background-color: white;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #555555;
}

.button:hover {
    background-color: darkgray;
    color: white;
}

.focus {
    background-color: #555555;
    color: white;
}





/* DarkMode */
.dark {
    background-color: black;
    filter: invert(100%);
}

